
body {
    text-align: center;
}
a {
    color: black;
}
.main-nav {
    display: flex;
    justify-content: flex-start;
}
.main-nav li {
    border: 2px solid black;
    padding: 1rem 1rem;
    display: inline-flex;
}
.main-nav h1 {
    border: 2px solid black;
    padding: 1rem 1rem;
    display: inline-flex;
}


.banner {
    background-image: url(/Users/andrewbloodworth/projects/myBlog/Resources/Images/Diamond.jpeg);
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    height: 23.5rem;

}

.main-text {
    color: black;
    background-color: white;
    padding: 20px 40px;
    margin: auto auto;
    border: 5px solid white;
    text-align: center;
}
#main-text {
    justify-content: center;
    border-radius: 4px;
}

.post {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    height: 43.5rem;
}

.container-block {
    background-color: whitesmoke;

  }
.flex-container {
    background-color: whitesmoke;
    display: flex;
  }
  
  .box {
    background-color: Dodgerblue;
    height: 100px;
    width: 100px;
    border: 1px solid lightgrey;
  }
  #flex {
   display: flex;
  }
  #inline-flex {
    display: inline-flex;
   }
   #flexstart {
    justify-content: flex-start;
  }
  
  #flexend {
    justify-content: flex-end;
  }
  
  #center {
    justify-content: center;
  }
  
  #spacearound {
    justify-content: space-around;
  }
  
  #spacebetween {
    justify-content: space-between;
  }
