
html {
    font-family: 'Bowlby One SC', cursive;;
}
body {
    text-align: center;
    padding: 0 0;
    margin: 0 0;
}
a {
    color: black;
}
header {
    display: flex;
}

.main-nav {
    width: 100%;
    position: fixed;
    justify-content: flex-start;
    align-items: center;
}
.main-nav li {
    border: 2px solid black;
    padding: 1rem 1rem;
    margin: auto 10px;
    list-style-type: none;
}
.main-nav h1 {
    border: 2px solid black;
    padding: 1rem 1rem;
    margin: auto 10px;
}
.hamburger {
    width: 100%;
    justify-content: flex-end;
    align-items: center;
    margin: auto 10px;
}


.banner {
    background-image: url(/Users/andrewbloodworth/projects/myBlog/Resources/Images/Diamond.jpeg);
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    height: 33.5rem;
    margin-top: 93px;
}

.main-text {
    color: black;
    background-color: white;
    padding: 20px 40px;
    margin: auto auto;
    border: 5px solid white;
    text-align: center;
}
#main-text {
    justify-content: center;
    border-radius: 4px;
}
#button {
    margin: 0 auto;
}
.post {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: flex-start;
    height: 11.5rem;
}
.post h1 {
    border: 1px solid black;
}

.container-block {
    background-color: whitesmoke;

  }
.container-align-items {
    height: 150px;
    justify-content: center;
}
.flex-container {
    background-color: whitesmoke;
    display: flex;
  }
  
  .box {
    background-color: Dodgerblue;
    height: 100px;
    width: 100px;
    border: 1px solid lightgrey;
  }
  .dombox {
    background-color: Dodgerblue;
    height: 100px;
    width: 100px;
    border: 1px solid lightgrey;
  }
 
  .left,
.center,
.right {
  min-height: 75px;
  width: 125px;
  background-color: DodgerBlue;
  border: 2px solid lightgrey;

}
  
  .center {
    height: 100px;
    width: 100px;
    border: 5px solid turquoise;
  }
  #align-flexstart {
    align-items: flex-start;
  }
  
  #align-flexend {
    align-items: flex-end;
  }
  
  #align-center {
    align-items: center;
  }
  
  #align-baseline {
    align-items: baseline;
  }


  #flex {
   display: flex;
  }
  #inline-flex {
    display: inline-flex;
   }
   #flexstart {
    justify-content: flex-start;
  }
  
  #flexend {
    justify-content: flex-end;
  }
  
  #center {
    justify-content: center;
  }
  
  #spacearound {
    justify-content: space-around;
  }
  
  #spacebetween {
    justify-content: space-between;
  }
